---
import Layout from '../layouts/Layout.astro';
import AdminDashboard from '../components/AdminDashboard';
---

<Layout title="Merchant Control Console | FlixCart">
  <div class="py-4">
    <AdminDashboard client:load />
  </div>
</Layout>
