---
import Layout from '../layouts/Layout.astro';
import CheckoutSection from '../components/CheckoutSection';
---

<Layout title="Secure Checkout | FlixCart">
  <div class="py-4">
    <CheckoutSection client:load />
  </div>
</Layout>
